#container-principal {
    display: flex;
    top: 60px;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}

#container-principal img {
    min-width: 26%;
    width: 26%;
    display: flex;
    margin-left: auto;
    position: relative;
}

#container-principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0f36a1 40%, rgba(13, 42, 122, 0.6) 60%, transparent 80%);
    pointer-events: none;
    z-index: 1;
}

.paragrafo-principal {
    display: flex;
    align-items: flex-end;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    z-index: 2;
    margin-left: 50px;
}


.section-container-curriculo {

    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}


.title-curriculo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #06287a;
    font-size: 24px;
    margin-bottom: 10px;
}

.paragrafo-curriculo {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-size: 20px;
}


a {
    color: #fff;
    text-decoration: none;

}

.curriculo {
    max-width: 800px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.600);
    word-wrap: break-word;
    width: 700px;
    margin-bottom: 50px;
}

#curriculo-header {
    text-align: center;
    margin-bottom: 20px;
}

#relative-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    border: none;
}

p {
    margin-bottom: 5px;
    color: #555;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    border-bottom: 2px solid #3333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.experiencia {
    margin-bottom: 15px;
}

.experiencia h3 {
    font-size: 18px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #5555;
}

#adress {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
}

.contact {

    display: inline;
}

.formation-info {

    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 4px;
}

form{

    display: none;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

.container {
    display: flex;
    gap:  100px;
    margin: auto;
    justify-content: center;
}

input {
    border-radius: 50px;
    border: none;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 280px;
    background-color: #f2f2f2;
}

input::placeholder{
    color: #010057;
    font-weight: 600;
    font-size: 14px;
}

.formation-remove {

    font-size: 8pt;
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.work-remove:hover {

    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}

.btn-curriculo {
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.btn-curriculo-editar {
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    margin: 40px auto;
    justify-content: center;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.btn-curriculo:hover{
    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}

.work-remove {

    font-size: 8pt;
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.work-remove:hover {

    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}

.work-edit {

    font-size: 8pt;
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.work-edit:hover {

    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}

.curse-remove {

    font-size: 8pt;
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.curse-remove:hover {

    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}

.skill-remove {

    font-size: 8pt;
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.skill-remove:hover {

    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}

.language-remove {

    font-size: 8pt;
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: rgb(1, 37, 105);
    color: #ffffff;
}

.language-remove:hover {

    background-color: rgb(1, 31, 87);
    cursor: pointer;
    transition: 500ms;
}